.container {
    width: 90%;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    overflow: hidden;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .time {
    float: right;
    color: #aaa;
  }

  .darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 8%;
  }
  
  .darker .time {
    float: left;
    color: #999;
  }

  .darker.container img {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }