<div class="wrapper">
  <input type="text" class="form-control" (input)="loadData($event.target.value, 0)" placeholder="Find friends for chat">

  <ul class="list-group">
    <li *ngFor="let user of searchResult" class="list-group-item">
      <img class="img" src="http://localhost:5000/{{user?.profilePicturePath}}" alt="Avatar">
      <span class="username">{{user?.firstName}} {{user?.lastName}} ({{user?.email}})</span>
      <button class="btn btn-primary chat-btn" (click)="createChat(user?.id)">Start chat</button>
    </li>
  </ul>
</div>